html {
  height: 100%;
}

#quiz-body {
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

#grey-box {
  height: 300px;
  background: rgb(192,192,192, 0.75);
}

.form {
  background: rgb(192,192,192, 0.75);
}

.label{
  opacity: 1;
  font-family: sans-serif;
  color: white;
  text-shadow: 1.5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  z-index: 5;
}

#answers-list li {
  width: 100%;
  display: block;
}
