/*Luay Worked on this CSS file*/

@font-face {
  font-family: 'offside';
  src: url('../fonts/Offside-Regular.ttf')
}

#body-background-img {
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  background: no-repeat;
  opacity: 0.5;
  position: absolute;
  /*z-index: 1;*/
}

body {
  background-color: #fbfcff;
  margin: 0px;
  padding: 0px;
  display: block;
  position: absolute;
  z-index: 100;
  color: #00233f;
  width: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
}

header {
  display: block;
  height: 80px;
  background: #00233f;
  padding: zero;
  margin: zero;
}

#logo-image  {
  width: 60px;
  float: left;
  margin: 10px 20px 10px 20px;
  padding: zero;
}
#page-name {
  text-align: center;
  font-size: 44px;
  color: white;
  font-family: offside;
  padding: 10px 10px 10px 10px;
  margin: zero;
  float: left;
}
h5 {
  padding: 0px;
  margin: 0px;
}
#nav {
  float: right;
  margin: 23px 30px;
}
ul {
  padding: 0px;
  margin: 0px;
}
#nav li {
  text-decoration: none;
  display: inline;
  max-width: 100%;
  margin: 0px 15px 0px 15px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 27px;
  color: white;
  text-shadow: 2px 4px black;
}
li a {
  text-decoration: none;
  color: inherit;
}
